<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <td>ID</td>
        <td>Content</td>
    </tr>
    </thead>
    <tbody>
    {{#contents}}
    <tr>
        <td>{{id}}</td>
        <td>{{content}}</td>
    </tr>
    {{/contents}}
    </tbody>
</table>
</body>
<a href="/form">글쓰기</a>
</html>